body {
    background-color: tomato;
}

.burger-list {
    margin: 0 auto;
    margin-top: 75px;
  }
  
  input.new-item:focus {
    outline: none;
  }
  
  .list-group-item > button.delete,
  .list-group-item > button.complete {
    float: right;
    height: 25px;
    margin-left: 5px;
  }
  
  .edit {
    width: 100%;
  }

  .mk-burger {
    position: relative;
    right: 25px;
  }

  .form-position {
    position: relative;
    right: 15px;
  }

  img {
    position: relative;
    left: 85px;
  }